ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  li {
    display: block; /* can be inline or block */
    width: 500px;
    height: 50px;
    font-size: 10px ;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #111;
  }
  